@(message: String)
@implicitFieldConstructor = @{ helper.FieldConstructor(twitterBootstrapInput.render) }

@main(message) {

  <div class="container">
  <div class="span3">
    <label></label>
  </div>
  <br>
  <br>
  <div class="span8">
    <div class="well">
      <h1>About BookSkateMate</h1>
      <h3 class="align-center">Buy - Sell - Trade</h3>
      <p>The idea behind BookSkateMate is a simple one: help people save money
        on textbooks. If you sell your book back to the bookstore you recoup some
        of the hard earned cashed you doled out to get it. They turn around and
        charge your classmate much more for the very same book. If instead you
        can sale your book directly to him you can get more than the bookstore
        was willing to pay you for it. At the same time he will actually pay less.
        It is a good deal for both of you! At BookSkateMate we help you find each
        other.</p>
      <p></p>
      <a class="btn pull-right btn-primary btn-large" href="#"><span class="btn-label">Sign Up Today!</span></a>
      <br>
      <br> 
    </div>
  </div>
  <div class="span3">
    <img src="http://robertawardivblog.files.wordpress.com/2013/04/idea.png"> 
  </div>
  <br>
  
  <br>
  <br>
  <div class="row main-features">
    <div class="span6">
      <div class="well">
        <h3>Seller Gets</h3>
        <ul>
          <li>More money than selling to a bookstore</li>
          <li>Rid of a book they aren't using</li>
          <li>Good Kharma from helping another student</li>
        </ul>
      </div>
    </div>
    <div class="span6">
      <div class="well">
        <h3>Buyer Gets</h3>
        <ul>
          <li>A book required for their class</li>
          <li>Save money off the bookstore price</li>
          <li>Good Kharma from helping another student</li>
        </ul>
        <ul></ul>
      </div>
    </div>
  </div>
</div>

}