@(message: String,books : List[models.Book] )
@implicitFieldConstructor = @{ helper.FieldConstructor(twitterBootstrapInput.render) }

@main("Add Book") {
    <br>
    <br>
    <br>
   <div class="container">
  <div class="row main-features">
    <br>
    <div class="span6">
      <div class="well">
        <h3>Create a New Book</h3>
        @helper.form(action = routes.Book.newBook()) {
        
        <div class="span2">
          <span class="label label-inverse">Book ID</span> 
        </div>
         <div class="span3">
          <input name="bookId" type="text" class="input-medium"> 
        </div>
         <div class="span2">
          <span class="label label-inverse">Title</span> 
        </div>
         <div class="span3">
          <input name="title" type="text" class="input-medium"> 
        </div>
        <div class="span2">
          <span class="label label-inverse">Author</span> 
        </div>
         <div class="span3">
          <input name="author" type="text" class="input-medium"> 
        </div>
         <div class="span2">
          <span class="label label-inverse">Edition</span> 
        </div>
         <div class="span3">
          <input name="edition" type="text" class="input-medium"> 
        </div>
         <div class="span2">
          <span class="label label-inverse">ISBN</span> 
        </div>
         <div class="span3">
          <input name="isbn" type="text" class="input-medium"> 
        </div>
        <div class="span2">
          <span class="label label-inverse">Store Price</span> 
        </div>
         <div class="span3">
          <input name="bookStorePrice" type="text" class="input-medium"> 
        </div>
        
         <div class="span2">
          <span class="label label-inverse">Password</span> 
        </div>
         <div class="span3">
          <input name="password" type="text" class="input-medium"> 
        </div>
        <div class="span5">
            <input type="submit" class="btn btn-primary btn-large btn-block" value="New Condition" />
        </div>
        }
        <br>
        <br>
        <br>
        <br>
        <br> 
        <br>
        <br>
        <br>
        <br>
        <br> 
        <br>
        <br>
        <br>
        <br>
        <br> 
      </div>
    </div> 
    <div class="span7">
    <p>
    @message
    </p>
    </div>
    <div class="span7">
     <table class="table table-condensed table-striped">
        <thead>
          <tr>
            <th>
              <span class="label label-info">Key </span> 
            </th>
            <th>
              <span class="label label-info">Book ID </span> 
            </th>
            <th>
              <span class="label label-info">Title </span> 
            </th>
            <th>
              <span class="label label-info">Author </span> 
            </th>
            <th>
              <span class="label label-info">Version </span> 
            </th>
            <th>
              <span class="label label-info">ISBN </span> 
            </th>
            <th>
              <span class="label label-info">Store Prices </span> 
            </th>
            <th></th>
          </tr>
        </thead>
        <tbody>
         @for(book <- books) {
         <tr>
            <td>
              @book.getPrimaryKey()
            </td>
            <td>
              <input type="text" value=@book.getPrimaryKey() class="input-medium"> 
            </td>
            <td>
              <input type="text" value=@book.getBookId() class="input-medium"> 
            </td>
            <td>
              <input type="text" value=@book.getTitle() class="input-medium"> 
            </td>
            <td>
              <input type="text" value=@book.getAuthor() class="input-medium"> 
            </td>
            <td>
              <input type="text" value=@book.getEdition() class="input-medium"> 
            </td>
             <td>
              <input type="text" value=@book.getIsbn() class="input-medium"> 
            </td>
             <td>
              <input type="text" value=@book.getBookStorePrice() class="input-medium"> 
            </td>
            <td>
              <div class="btn-group">
                <a class="btn btn-small btn-primary">Update</a>
               
              </div>
            </td>
          </tr>
         
            
            } 
        
          
          
        </tbody>
      </table>
    
    
       
    </div>
  </div>
</div>
}
 