@(message: String,books : List[models.Book] )
@implicitFieldConstructor = @{ helper.FieldConstructor(twitterBootstrapInput.render) }

@main("Book List") {
    <br>
    <br>
    <br>
   <div class="container">
  <div class="row main-features">
    <br>
     <h3>All Current Books</h3>
     <div class="span7">
     <table class="table table-condensed table-striped">
        <thead>
          <tr>
            <th>
              <span class="label label-info">Key </span> 
            </th>
            <th>
              <span class="label label-info">Book ID </span> 
            </th>
            <th>
              <span class="label label-info">Title </span> 
            </th>
            <th>
              <span class="label label-info">Author </span> 
            </th>
            <th>
              <span class="label label-info">Version </span> 
            </th>
            <th>
              <span class="label label-info">ISBN </span> 
            </th>
            <th>
              <span class="label label-info">Store Prices </span> 
            </th>
            <th>
             <span class="label label-info">Cover </span> 
            </th>
          </tr>
        </thead>
        <tbody>
        
        
         @for(book <- books) {
         <tr>
            <td>
              <label>@book.getPrimaryKey()</label>
             
            </td>
            <td>
              <label>@book.getBookId()</label>
            </td>
            <td>
             <label>@book.getTitle()</label>
             
            </td>
            <td>
              <label>@book.getAuthor()</label> 
             
            </td>
            <td>
            <label>@book.getEdition()</label>
             
            </td>
             <td>
             <label>@book.getIsbn()</label>
             
            </td>
             <td>
              <label>@book.getBookStorePrice()</label>
              
            </td>
            <td>
            <img src="http://covers.openlibrary.org/b/isbn/@book.getIsbn()-S.jpg"> 
            
            </td>
            <td>
            <div class="btn-group ">
                <a class="btn btn-success btn-mini">Offers</a>
                <a class="btn btn-primary btn-mini">Requests</a> 
            </div>
        </td>
          </tr>
         
            
            } 
        
          
          
        </tbody>
      </table>
       @if(books.size() ==0){ No Books in Inventory}
      }
    